In [1467]:
import requests

In [1468]:
import pandas as pd

In [1469]:
#Get the website link
url_get = requests.get("https://www.imdb.com/search/title/?release_date=2019-01-01,2019-12-31")

In [1470]:
from bs4 import BeautifulSoup

In [1471]:
#Use beautiful soup to make it tidier
soup = BeautifulSoup(url_get.content,"html.parser")

In [1472]:
#Find the relevant key and attributes
movie = soup.find('div', attrs={'class':'lister-list'})

In [1473]:
print(movie.prettify()[1:2000])

div class="lister-list">
 <div class="lister-item mode-advanced">
  <div class="lister-top-right">
   <div class="ribbonize" data-caller="filmosearch" data-tconst="tt2527338">
   </div>
  </div>
  <div class="lister-item-image float-left">
   <a href="/title/tt2527338/">
    <img alt="Star Wars: Episode IX - The Rise of Skywalker" class="loadlate" data-tconst="tt2527338" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BMDljNTQ5ODItZmQwMy00M2ExLTljOTQtZTVjNGE2NTg0NGIxXkEyXkFqcGdeQXVyODkzNTgxMDg@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/large/film-184890147._CB466725069_.png" width="67"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     1.
    </span>
    <a href="/title/tt2527338/">
     Star Wars: Episode IX - The Rise of Skywalker
    </a>
    <span class="lister-item-year text-muted unbold">
     (2019)
    </span>
   </h3>
   <p class="text-muted">
    <span class="certificate">
     PG-13
    </span>
    <span class="ghost">
     |
    </span>
    <span class="runtime">
     142 min
    </span>
    <span class="ghost">
     |
    </span>
    <span class="genre">
     Action, Adventure, Fantasy
    </span>
   </p>
   <div class="ratings-bar">
    <div class="inline-block ratings-imdb-rating" data-value="6.7" name="ir">
     <span class="global-sprite rating-star imdb-rating">
     </span>
     <strong>
      6.7
     </strong>
    </div>
    <div class="inline-block ratings-user-rating">
     <span class="userRatingValue" data-tconst="tt2527338" id="urv_tt2527338">
      <span class="global-sprite rating-star no-rating">
      </span>
      <span class="rate" data-no-rating="Rate this" data-value="0" name="ur">
       Rate this
      </span>
     </span>
     <div class="starBarWidget" id="sb_tt2527338">
      <div class="rating rating-list" data-auth="" data-ga-identifier="" data-starbar-class="

In [1474]:
temp = []
for i in range(0, 7):
    name = movie.find_all('h3')[i]
    for wrapper in name.find_all('a', href = True):
        temp.append(wrapper.text)
        
temp

['Star Wars: Episode IX - The Rise of Skywalker',
 'The Mandalorian',
 'After Life',
 'Dead to Me',
 'Once Upon a Time... in Hollywood',
 'The Gentlemen',
 'Gisaengchung']

In [1475]:
from itertools import chain
concatenated = chain(range(1), range(2,6), range(7,9))

concatenated

In [1476]:
temp1 = []
for i in 0,2,3,4,5,7,8:
    votes = movie.find_all('span', attrs={'name':'nv'})[i]
    votes = votes.text.strip()
    temp1.append(votes)

temp1

['319,341', '167,091', '67,088', '37,198', '462,452', '130,292', '402,064']

In [1477]:
temp2 = []

for i in range(1) :
        meta = movie.find_all('span', attrs ={'class': 'metascore'})[i]
        meta = meta.text.strip()
        temp2.append(meta)
        temp2.append('NaN')
        temp2.append('NaN')
        temp2.append('NaN')
        
for i in range(1,4):
    meta2 = movie.find_all('span', attrs ={'class': 'metascore'})[i]
    meta2 = meta2.text.strip()
    temp2.append(meta2)

temp2

['53', 'NaN', 'NaN', 'NaN', '83', '51', '96']

In [1478]:
temp3 = []

for i in range(0,7):
    ratings = movie.find_all('strong')[i]
    ratings = ratings.text.strip()
    temp3.append(ratings)
    
temp3

['6.7', '8.7', '8.5', '8.1', '7.7', '7.9', '8.6']

In [1479]:
temp = pd.Series(temp, name = 'Movie Name')

In [1480]:
temp1 = pd.Series(temp1, name = 'Votes')

In [1481]:
temp2 = pd.Series(temp2, name = 'Meta Score')

In [1482]:
temp3 = pd.Series(temp3, name = 'Ratings')

In [1483]:
df = pd.concat([temp, temp1, temp3, temp2], axis = 1)

In [1484]:
df

                                      Movie Name    Votes Ratings Meta Score
0  Star Wars: Episode IX - The Rise of Skywalker  319,341     6.7         53
1                                The Mandalorian  167,091     8.7        NaN
2                                     After Life   67,088     8.5        NaN
3                                     Dead to Me   37,198     8.1        NaN
4               Once Upon a Time... in Hollywood  462,452     7.7         83
5                                  The Gentlemen  130,292     7.9         51
6                                   Gisaengchung  402,064     8.6         96

In [1485]:
df['Movie Name'] = df['Movie Name'].str.replace("Gisaengchung","Parasite")

In [1486]:
df['Votes'] = df['Votes'].str.replace(",","")

In [1487]:
df.Ratings = df.Ratings.astype('float64')

In [1489]:
df['Votes'] = df['Votes'].astype('int64')

In [1494]:
df['Meta Score'] = df['Meta Score'].astype('float64')

In [1498]:
df

                                      Movie Name   Votes  Ratings  Meta Score
0  Star Wars: Episode IX - The Rise of Skywalker  319341      6.7        53.0
1                                The Mandalorian  167091      8.7         NaN
2                                     After Life   67088      8.5         NaN
3                                     Dead to Me   37198      8.1         NaN
4               Once Upon a Time... in Hollywood  462452      7.7        83.0
5                                  The Gentlemen  130292      7.9        51.0
6                                       Parasite  402064      8.6        96.0